@import './../../styles/vars.scss';

.sidebar__progressbar {
      display: flex;
      flex-direction: column;
      padding: 6rem 0;
      background-color: $baground-menu;
      width: 100%;
      height: 100vh;
      background-color: aliceblue;
}