$font-family: 'Roboto', 'Open Sans', Arial, sans-serif;

$primary-color: #1F1F1F;
$light-gray-color: rgb(220, 220, 220);
$border-color: rgb(220, 220, 220);

$nav-item-bg-color-hover: rgb(240, 240, 240);
$tools-bg-color-hover: rgb(210, 210, 210);


$transition-duration: 0.2s;
$baground-menu: white;