$font-family: 'Open Sans', sans-serif;
$accent-font-family: 'Roboto Slab', serif;

$primary-color: rgb(50, 49, 48);
$light-gray-color: rgb(220, 220, 220);

$border-color: rgb(220, 220, 220);
$border-hover-color: rgb(180, 180, 180);
$border-focus-color: rgb(140, 140, 140);

$nav-item-bg-color-hover: rgb(240, 240, 240);
$tools-bg-color-hover: rgb(210, 210, 210);


$transition-duration: 0.2s;
$accent-color: rgb(253, 200, 65);

$ligth-blue-color: #d9e8ff;
$blue-color: #aaccff;


$placeholder-color: #9b9b9b;
$error-color: #ff3860;

$transition-duration: 0.2s;
$baground-menu: white;