
.table__panel {
     .table__header {
          display: flex;
          align-items: center;
          gap: 0.2rem;
          
          border-radius: 0.5rem;
          padding: 0.2rem 0.6rem;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
          
          h2 {
               color: $primary-color;
               font-size: 1.2rem;
               margin-right: auto;
          }
     }
}