@import './../../styles/vars.scss';

.sidebar__quicklinks {
      background-color: $baground-menu;
      width: 100%;
      height: 100vh;
      border-right: 1px solid $light-gray-color;

      nav {
            display: flex;
            flex-direction: column;
            position: sticky;
            margin-top: 6rem;
            padding-left: 2rem;

            ul {
                  display: flex;
                  flex-direction: column;
                  list-style: none;
                  padding: 0;
        
                  .menuSection {
                        .menuItem {
                              display: flex;
                              width: 100%;
                              float: left;
                              color: $primary-color;
                              text-decoration: none;
                              font-size: 0.8rem;
                              padding: 0.4rem 0.8rem;
                              border-radius: 4px 0 0 4px;
                              transition: background-color $transition-duration ease;

                              &:hover {
                                    background-color: $nav-item-bg-color-hover; 
                              }

                              &.active {
                                    background-color: $nav-item-bg-color-hover;
                                    font-weight: 700;
                              }
                        }
                  }
            }
      }
}