@import './../../styles/vars.scss';

.editButton {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      background-color: transparent;
      transition: all $transition-duration ease;
      height: 2rem;
    
      .emptyButton {
            width: 2rem;
            height: 2rem;
            padding: 0.2rem;
            background: transparent;
            border-radius: 50%;
            border: none;
            cursor: pointer;
            transition: all $transition-duration ease;

            &:hover {
                  background-color: $tools-bg-color-hover;
            }
  
            &:active {
                  transform: scale(0.95);
            }
      }
      
      &.editing {
            background-color: $accent-color;
            border-radius: 2rem;
            padding: 0.25rem;
            display: flex;
            align-items: center;

            .actionButton {
                  background: transparent;
                  border: none;
                  cursor: pointer;
                  padding: 0.5rem;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  transition: all $transition-duration ease;
                  border-radius: 50%;
                  overflow: hidden;
                  width: 2rem;
                  height: 2rem;

                  &:hover {
                        background-color: rgba(240, 248, 255, 0.4);
                        transform: scale(0.85);
                  }
        
                  &:active {
                        transform: scale(0.85);
                  }
            }
      }
}