@import './../../styles/vars.scss';

header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      padding: 0.5rem 1rem;
      border-bottom: 1px solid $light-gray-color;
      gap: 1rem;
      background-color: white;

      height: 2.5rem; 
      position: fixed;
      z-index: 100;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      
      .titleContainer {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);

            .title {
                  margin: 0;
                  font-size: 1.1rem;
                  color: $primary-color;
            }
      }
  
      .infoContainer {
            flex: 0 0 auto;
            display: flex;
            align-items: flex-end;
            gap: 0.3rem;
            font-size: 0.9rem;
            color: #666;
  
            .season, .week {
                  background: #f0f0f0;
                  padding: 0.3rem 0.6rem;
                  border-radius: 4px;
            }
      }
  }